

.container {
  position: relative;
}
.polygonCanvasView, .polygonCanvasRealView {

  border: solid 1px red;
}

.polygonCanvasRealView {
  position: relative;
}

.active {
  background-color: red;
  color: #fff;
}


.lower-canvas {
  background: url(https://i.ibb.co/cXKy30V/Rectangle-139.png) no-repeat;
  background-size: contain;
}

.drag-action span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
